In [11]:
import pandas as pd 
import numpy as np

In [152]:

CB_201307="C:\\Users\\mstas\\Desktop\\Tableau\\Resources\\2013-07 - Citi Bike trip data.csv"

CB_201407="C:\\Users\\mstas\\Desktop\\Tableau\\Resources\\2014-07 - Citi Bike trip data.csv"

In [153]:

CB_201307_df = pd.read_csv(CB_201307)

CB_201407_df = pd.read_csv(CB_201407)

In [154]:
combined_1314 = pd.concat([ CB_201307_df, CB_201407_df])
combined_1314.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [155]:
list(combined_1314)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [156]:
len(combined_1314)

1812258

In [157]:
combined_1314.rename(columns={'tripduration':'Duration', 'starttime':'Start_Time', 'stoptime':'Stop_Time', 'start station id':'Start_Station_Id', 'start station name':'Start_Station', 'bikeid':'Bike Id', 'birthyear':'Birth Year', 'gender':'Gender'}, inplace = True )

In [158]:
combined_1314.dropna()

,Duration,Start_Time,Stop_Time,Start_Station_Id,Start_Station,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,Bike Id,usertype,birth year,Gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968837,2136,2014-07-31 23:59:44,2014-08-01 00:35:20,150,E 2 St & Avenue C,40.720874,-73.980858,522,E 51 St & Lexington Ave,40.757148,-73.972078,15585,Customer,\N,0
968838,260,2014-07-31 23:59:46,2014-08-01 00:04:06,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,20240,Subscriber,1951,2
968839,318,2014-07-31 23:59:47,2014-08-01 00:05:05,521,8 Ave & W 31 St,40.750450,-73.994811,470,W 20 St & 8 Ave,40.743453,-74.000040,21400,Subscriber,1981,1
968840,299,2014-07-31 23:59:50,2014-08-01 00:04:49,229,Great Jones St,40.727434,-73.993790,382,University Pl & E 14 St,40.734927,-73.992005,21595,Subscriber,1968,1
968841,511,2014-07-31 23:59:58,2014-08-01 00:08:29,282,Kent Ave & S 11 St,40.708273,-73.968341,242,Flushing Ave & Carlton Ave,40.697883,-73.973503,18356,Customer,\N,0

In [159]:
combined_1314.drop(combined_1314.index[combined_1314['birth year'] == 0], inplace=True)
combined_1314.head()

,Duration,Start_Time,Stop_Time,Start_Station_Id,Start_Station,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,Bike Id,usertype,birth year,Gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [160]:
#trying again to drop the "/N" in the Birth year column 
combined_1314.dropna(subset=['birth year'] , inplace = True)
combined_1314.head()

,Duration,Start_Time,Stop_Time,Start_Station_Id,Start_Station,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,Bike Id,usertype,birth year,Gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [161]:
len(combined_1314)

1812258

In [162]:
indexNames = combined_1314[combined_1314['birth year'] == '1899'].index
 
combined_1314.drop(indexNames , inplace=True)

In [166]:
combined_1314.drop(combined_1314.loc[combined_1314['birth year']==1900].index, inplace=True)

In [167]:
len(combined_1314.index)

1812021

In [168]:
combined_1314.dtypes

Duration                     int64
Start_Time                  object
Stop_Time                   object
Start_Station_Id             int64
Start_Station               object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
Bike Id                      int64
usertype                    object
birth year                  object
Gender                       int64
dtype: object

In [197]:
combined_1314.loc[combined_1314["Gender"] == "1","Gender"] = Male
combined_1314.loc[combined_1314["Gender"] == "2","Gender"] = Female
combined_1314.head()

NameError: name 'Male' is not defined

In [189]:
Main_df=combined_1314.filter(['Duration', 'Start_Time','Start_Time',"Start_Station_Id", "Start_Station","start station latitude", "start station longitude", "end station id ", " end station name", "end station latitude", "end station longitude", "usertype", "Gender"], axis=1)

In [191]:
Main_df.head()

,Duration,Start_Time,Start_Time,Start_Station_Id,Start_Station,start station latitude,start station longitude,end station latitude,end station longitude,usertype,Gender
0,634,2013-07-01 00:00:00,2013-07-01 00:00:00,164,E 47 St & 2 Ave,40.753231,-73.970325,40.732219,-73.981656,Customer,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:00:02,388,W 26 St & 10 Ave,40.749718,-74.002950,40.746745,-74.007756,Customer,0
2,178,2013-07-01 00:01:04,2013-07-01 00:01:04,293,Lafayette St & E 8 St,40.730287,-73.990765,40.730473,-73.986724,Subscriber,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:01:06,531,Forsyth St & Broome St,40.718939,-73.992663,40.769155,-73.981918,Customer,0
4,757,2013-07-01 00:01:10,2013-07-01 00:01:10,382,University Pl & E 14 St,40.734927,-73.992005,40.720664,-73.985180,Subscriber,1

In [192]:
len(Main_df)

1812021

In [193]:
combined_1314.to_csv('C:\\Users\\mstas\\Desktop\\Tableau\\Main_df.csv', index = False)